'hello world'

In [4]:
1+1

2

In [6]:
2**3

8

In [8]:
i=1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [10]:
mystuff=['apple','orange','grape','banana']

In [11]:
mystuff

['apple', 'orange', 'grape', 'banana']

In [12]:
for x in mystuff:
    print(x)

apple
orange
grape
banana

In [13]:
mynumberlist=[1,2,3,4,5,6,7]

In [14]:
for x in mynumberlist:
    print(x)

1
2
3
4
5
6
7

In [15]:
range(1,8)

range(1, 8)

In [16]:
for i in range(1,8):
    print(i)

1
2
3
4
5
6
7

In [17]:
myrange=range(1,8)
for x in myrange:
    print(x)

1
2
3
4
5
6
7

In [18]:
for i in range(4):
    print(mystuff[i])

apple
orange
grape
banana

In [19]:
mystr1='hello'
mystr2='world'
mystr = mystr1+' '+mystr2
print(mystr)

hello world

In [20]:
type(mystr)

str

In [ ]:
#functions

In [21]:
def MySum(a,b):
    return(a+b)

In [22]:
a=1
b=2

In [23]:
MySum(a,b)

3

In [24]:
x=1
y=2
MySum(x,y)

3

In [ ]:
#List methods

In [25]:
Mylist=['a','b','c',1,2,3]

In [26]:
Mylist

['a', 'b', 'c', 1, 2, 3]

In [29]:
Mylist.reverse()

In [30]:
Mylist

[3, 2, 1, 'c', 'b', 'a']

In [37]:
Mylist.pop(0)

3

In [38]:
Mylist

[1]

In [ ]:
#pop drops one element from list
#pop(1) drops the second element
#pop() drops the lasat element

In [39]:
Mylist.clear()

In [40]:
Mylist

[]

In [41]:
mylist=['a','b','c','d','e','f','g',1,2,3]

In [42]:
mylist

['a', 'b', 'c', 'd', 'e', 'f', 'g', 1, 2, 3]

In [ ]:
#copy a list

In [43]:
mylist2=mylist
mylist2

['a', 'b', 'c', 'd', 'e', 'f', 'g', 1, 2, 3]

In [ ]:
#this is not a copy, this is a pointer

In [48]:
mylist3=mylist.copy()

In [50]:
mylist.pop()

2

In [52]:
mylist

['a', 'b', 'c', 'd', 'e', 'f', 'g', 1]

In [53]:
mylist3

['a', 'b', 'c', 'd', 'e', 'f', 'g', 1, 2]

In [ ]:
#adding to a list

In [54]:
mylist.extend(['f','g','h','i'])
mylist

['a', 'b', 'c', 'd', 'e', 'f', 'g', 1, 'f', 'g', 'h', 'i']

In [55]:
mylist.append(['j','k','l'])
mylist

['a', 'b', 'c', 'd', 'e', 'f', 'g', 1, 'f', 'g', 'h', 'i', ['j', 'k', 'l']]

In [ ]:
# append creates a list within a list

In [57]:
mylist.index('e')

4

In [ ]:
#starts with 0 not 1!

In [58]:
mylist.remove('e')

In [59]:
mylist

['a', 'b', 'c', 'd', 'f', 'g', 1, 'f', 'g', 'h', 'i', ['j', 'k', 'l']]

In [60]:
mylist.pop()

['j', 'k', 'l']

In [63]:
mylist.count('f')

2

In [62]:
mylist

['a', 'b', 'c', 'd', 'f', 'g', 1, 'f', 'g', 'h', 'i']

In [ ]:
#Loops part2

In [64]:
mytupl=(1,2)

In [65]:
mytupl[1]

2

In [66]:
mystuff=['apple','orange','grape','banana']

In [67]:
for x in mystuff:
    print(x)

apple
orange
grape
banana

In [68]:
n=len(mystuff)
for i in range(n):
    print(i+1,mystuff[i])

1 apple
2 orange
3 grape
4 banana

In [69]:
for i,x in enumerate(mystuff):
    print(i+1,x)

1 apple
2 orange
3 grape
4 banana

In [70]:
(x,y,z)=(1,2,3)

In [71]:
print(x,y,z)

1 2 3

In [ ]:
#Exercise

In [72]:
colors=['red','orange','purple','yellow']

In [73]:
mystuff

['apple', 'orange', 'grape', 'banana']

In [78]:
for i in range(n):
    print(mystuff[i],'is',colors[i])

apple is apple
orange is orange
grape is grape
banana is banana

In [79]:
for fruit, color in zip(mystuff, colors):
    print(fruit,'is',color)

apple is apple
orange is orange
grape is grape
banana is banana

In [ ]:
#dictionary

In [80]:
d={'name':'bob','age':22,'income':88888,'state':'NY'}

In [81]:
d

{'name': 'bob', 'age': 22, 'income': 88888, 'state': 'NY'}

In [82]:
d['name']

'bob'

In [83]:
d['state']

'NY'

In [84]:
{}.fromkeys(['name','age','income','state'])

{'name': None, 'age': None, 'income': None, 'state': None}

In [85]:
mypeeps=[]

In [89]:
for i in range(5):
    mypeeps.append({}.fromkeys(['name','age','income','state']))
    print(mypeeps)

[{'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}]
[{'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}]
[{'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}]
[{'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}]
[{'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}, {'name': None, 'age': None, 'income': None, 'state': None}]

In [90]:
mypeeps[0]['name']='alan'
mypeeps

[{'name': 'alan', 'age': None, 'income': None, 'state': None},
 {'name': None, 'age': None, 'income': None, 'state': None},
 {'name': None, 'age': None, 'income': None, 'state': None},
 {'name': None, 'age': None, 'income': None, 'state': None},
 {'name': None, 'age': None, 'income': None, 'state': None},
 {'name': None, 'age': None, 'income': None, 'state': None},
 {'name': None, 'age': None, 'income': None, 'state': None},
 {'name': None, 'age': None, 'income': None, 'state': None},
 {'name': None, 'age': None, 'income': None, 'state': None},
 {'name': None, 'age': None, 'income': None, 'state': None},
 {'name': None, 'age': None, 'income': None, 'state': None},
 {'name': None, 'age': None, 'income': None, 'state': None},
 {'name': None, 'age': None, 'income': None, 'state': None},
 {'name': None, 'age': None, 'income': None, 'state': None},
 {'name': None, 'age': None, 'income': None, 'state': None},
 {'name': None, 'age': None, 'income': None, 'state': None}]

In [91]:
d

{'name': 'bob', 'age': 22, 'income': 88888, 'state': 'NY'}

In [92]:
d.keys()

dict_keys(['name', 'age', 'income', 'state'])

In [93]:
d.values()

dict_values(['bob', 22, 88888, 'NY'])

In [94]:
d.items()

dict_items([('name', 'bob'), ('age', 22), ('income', 88888), ('state', 'NY')])

In [95]:
e=d

In [96]:
e['name']='bobby'

In [97]:
e

{'name': 'bobby', 'age': 22, 'income': 88888, 'state': 'NY'}

In [98]:
d

{'name': 'bobby', 'age': 22, 'income': 88888, 'state': 'NY'}

In [99]:
f=d.copy()

In [100]:
f['name']='robert'

In [101]:
f

{'name': 'robert', 'age': 22, 'income': 88888, 'state': 'NY'}

In [102]:
e

{'name': 'bobby', 'age': 22, 'income': 88888, 'state': 'NY'}

In [ ]:
#Homework